.taglist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    .activetags {
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border-bottom: solid 1px black;
    }
}
.tag {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: #eee;
    border: solid 1px #aaa;
    color: #aaa;
    font-weight: 600;
    &.on {
        
        background: #e1f3fc;
        border: solid 1px #0288d1;
        color: #0288d1;
    }
    &.off {
        background: #ffd3d3;
        border: solid 1px #c90000;
        color: #c90000;
    }
    white-space: nowrap;
    width: min-content;
    user-select: none;
    margin: 0.5rem;
}